/* FOR ALL PAGES*/
:root {
    --yellow: #F7FD04;
    --orange: #F9B208;
    --dorange: #F98404;
    --ddorange: #FC5404;
    --lyellow: #FFFFC7;
    /* Light Colours */
    --teal: #28B5B5;
    --grue: #4B778D;
    --green: #8FD9A8;
    --grellow: #D2E69C;
    --purple: #282846;
    /* Dark Colours */
}


body {
     background-color: var(--lyellow); 
}

/* BUTTONs */
.but {
    justify-content: center;
    text-align: center;
}

header {
    text-align: center;
}

.card .words {
    display: inline;
}

.card {
    padding: 10px;
    margin: 10px;
}

.words {
    text-align: end;
    margin: 50px;
    padding: 20px;
    display: inline;
}

#nap {
    justify-content: end;
    display: inline-block;
}

/* LANDING PAGE STUFF */
.hero-section {
    height: 500px; /*increase the height */
    padding-top: 100px; /* increase the top padding */
    padding-bottom: 100px; /* increase the bottom padding */
    background-image: url("../images/sammyosa9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#landingHeader{
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    width: 30%;
    color: var();
}

#whatrufeelin {
    text-align: center;
    border: solid;
    background-color: var(--orange);
}



/* WHEEL STUFF */






/* CONTACT US STUFF */


/* COLOR IDEAS */

/* ROUND CORNERS */
/* BOX SHADOW GLOW */
/* PReSUMABLY SOME FLEXBOX STUFF :'( */


/* Button Hover! */

/* LIGHT MODE */
/* color: #F7FD04;
color: #F9B208
color: #F98404
color: #FC5404
backgound-color: #FFFFC7

/* DARK MODE */
/* color: #28B5B5;
color: #4B778D;
color: #8FD9A8;
color: #D2E69C;
/* background-color: #282846; */


/* Trying to centre button */






/* MeDiA qUeRiEs */

/* WHEEL CSS */
text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    pointer-events:none;
}

#chart{
    position:absolute;
    width:500px;
    height:500px;
    top:0;
    left:0;
}

#question{
    position: absolute;
    width:400px;
    height:500px;
    top:0;
    left:520px;
}

#question h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}

