/* FOR ALL PAGES*/
:root {
    --yellow: #F7FD04;
    --orange: #F9B208;
    --dorange: #F98404;
    --ddorange: #FC5404;
    --lyellow: #FFFFC7;
    /* Light Colours */
    --teal: #28B5B5;
    --grue: #4B778D;
    --green: #8FD9A8;
    --grellow: #D2E69C;
    --purple: #282846;
    /* Dark Colours */
}


body {
    background-image: url('../images/DinnerDateYellowTransparent.png');
    background-size: 40%;
    background-repeat: repeat;
    font-family: 'Quicksand', sans-serif;
    

}

.btn{
    text-align: center;
    border: solid;
    border-color: var(--lyellow);
    background-color: var(--dorange);
    color: var(--lyellow);
    font-size: 20px;
}

/* Modal btn wouldnt change color unless i do this. */
.btn:hover,
.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--lyellow) !important;
    color: var(--dorange)  !important;
    border-color: var(--dorange) !important;
}

.btn:active{
    box-shadow: none;
        /* remove any box shadow */
        outline: none;
        /* remove any outline */
        transform: translateY(2px);
        /* move the button down slightly */
}


/* CARDS */
.but {
    justify-content: center;
    text-align: center;
}


header {
    text-align: center;
}

.card .words {
    display: inline-block;
}

.card {
    padding: 10px;
    margin: 10px;
}

.words {
    text-align: end;
    margin: 50px;
    padding: 20px;
    font-size: 2rem;
    color: #E3510B;
}

#words-background{
    background-color: var(--lyellow);
    border: 20px solid;
    border-color: var(--lyellow);
}


/* LANDING PAGE STUFF */
.hero-section {
    height: 518px; /*increase the height */
    padding-top: 100px; /* increase the top padding */
    padding-bottom: 100px; /* increase the bottom padding */
    background-image: url("../images/sammyosa9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#landingHeader{
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    width: 25%;
    border-radius: 2%;
}

#nap {
    justify-content: flex-end;
    font-size: large;
    
    
}

#vibe-check-box {
    background-color: #FCCD5A;
    color: #E3510B;
}


#landing-card-title {
    margin: 10px;
    padding: 10px;
    font-size: 25px
}
#landing-card-text {
    font-size: 20px;
    
}

#co{
    background-color: var(--lyellow);
}

#title-grab{
    font-family: 'Pacifico', cursive;
}

#wheel-grab{
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    color: var(--ddorange);
}

/* WHEEL CSS  */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-wheel{
    flex-grow: auto;
    
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    pointer-events: none;
}

#chart {
    /* position: absolute; */
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
}

#question {
    /* position: absolute; */
    width: 400px;
    height: 500px;
    top: 0;
    left: 520px;
}

#question h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}


#headerOptions{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: var(--dorange);
    justify-content: center;
    text-align: center;
    background-color: white;
}



/* CONTACT US STUFF */

#fn {
    margin: auto;
    padding: 10px;
}

#ea {
    margin: auto;
    padding: 10px;
}

#com {
    margin: 1px auto ;
    padding: 10px;
}

#conbut {
    margin: 10px 10px 10px 0px;
    padding: 10px;
    text-align: end;
    flex-wrap: wrap;
}

#check {
    display: inline;
    border: solid;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
}
















/* COLOR IDEAS */

/* ROUND CORNERS */
/* BOX SHADOW GLOW */
/* PReSUMABLY SOME FLEXBOX STUFF :'( */


/* Button Hover! */

/* LIGHT MODE */
/* color: #F7FD04;
color: #F9B208
color: #F98404
color: #FC5404
backgound-color: #FFFFC7

/* DARK MODE */
/* color: #28B5B5;
color: #4B778D;
color: #8FD9A8;
color: #D2E69C;
/* background-color: #282846; */


/* Trying to centre button */



