/* THE VAR THING FOR COLOUR OPTIONS */
/* COLOR IDEAS */

/* ROUND CORNERS */
/* BOX SHADOW GLOW */
/* PRSUMABLY SOME FLEXBOX STUFF :'( */






/* LIGHT MODE */
/* color: #F7FD04;
color: #F9B208
color: #F98404
color: #FC5404
backgound-color: #FFFFC7

/* DARK MODE */
/* color: #28B5B5;
color: #4B778D;
color: #8FD9A8;
color: #D2E69C;
background-color: #282846;


/* MeDiA qUeRiEs */